
/*B7 Bodarev*/

@font-face{
		font-family:"MuseoSans100";
        src:url(../fonts/MuseoSansCyrl_100.otf);
}
@font-face{
		font-family:"MuseoSans300";
        src:url(../fonts/MuseoSansCyrl_300.otf);
}
@font-face{
		font-family:"MuseoSans500";
        src:url(../fonts/MuseoSansCyrl_500.otf);
}

/*************** fileUpload ****************/

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*************** sidebar ****************/

.sidebar .glyph, 
.user-menu .glyph,
.personal-data .glyph {
    height: 16px;
    width: 16px;
    margin: 0 10px 0 0;
    stroke-width: 3px;
}

.breadcrumb .glyph {
    height: 14px;
    width: 14px;
    margin: -2px 0 0 0;
    stroke-width: 4px;
}

/*************** button ****************/

button {
	outline:none !important;
}

.btn-group .glyph {
    height: 14px;
    width: 14px;
    margin: -2px 0 0 0;
    stroke-width: 4px;
}

/*************** Navbar ****************/

.navbar {
    max-height: 50px;
}
.langue {
	position: relative;
    top: -8px;
	right:8px;
}

/*************** Table ****************/

table.products>tbody>tr>td .price,
table.orders>tbody>tr>td .total {
    color:#000;
	font-size:20px;
	font-family: 'MuseoSans300',sans-serif;
    min-width: 100px;
}
table.products>tbody>tr>td .title_prod{
	color:#000;
    font-size:20px;
	font-family: 'MuseoSans300',sans-serif;
}
table.orders>tbody>tr>td .status {
    color: #fff;
}
table.orders>thead>tr>th,
table.orders>tbody>tr>td {
    text-align-last: center;   
}
table.products>tbody>tr>td,
table.orders>tbody>tr>td {
    vertical-align: inherit;
}
table.products>tbody td:last-child {
    min-width: 136px;
}
table.orders>tbody td:last-child {
    min-width: 100px;
}
table.products>thead>tr>th,
table.orders>thead>tr>th {
    text-transform: lowercase !important;   
}